* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Space Mono", monospace;
}
body {
	height: 100%;
	font-family: "Space Mono", monospace;
	background-color: hsl(185, 41%, 84%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
nav img {
	margin-bottom: 68px;
	margin-top: 100px;
}
.leftside {
	width: 50vh;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vh;
	height: 50vh;
	border-radius: 25px;
	background-color: hsl(0, 0%, 100%);
}
.spliter {
	width: 35vh;
	margin-right: 50px;
}
.bill {
	background-image: url(images/icon-dollar.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: hsl(189, 41%, 97%);
	border-radius: 5px;
	width: 290px;
	height: 50px;
	margin-bottom: 40px;
	padding-left: 50px;
	padding-right: 40px;
	text-align: right;
	outline: none;
	border: none;
}
.bill::placeholder {
	text-align: right;
	margin-right: 25px;
	font-size: 20px;
	color: hsl(186, 14%, 43%);
}
.bill:focus,
.bill:hover {
	border: 1px solid hsl(172, 67%, 45%);
}
.customtip {
	width: 90px;
	height: 50px;
	border: none;
	outline: none;
	background-color: hsl(189, 41%, 97%);
	text-align: center;
}
.customtip::placeholder {
	text-align: center;
	font-size: 20px;
	color: hsl(183, 100%, 15%);
}
.customtip:hover,
.customtip:focus {
	border: 1px solid hsl(172, 67%, 45%);
}
.spliter input[type="button"] {
	cursor: pointer;
	width: 90px;
	height: 50px;
	margin-bottom: 17px;
	background-color: hsl(183, 100%, 15%);
	color: hsl(0, 0%, 100%);
	border-radius: 10px;
	font-size: 20px;
	outline: none;
	border: none;
}
.spliter input[type="button"]:hover {
	background-color: hsl(185, 41%, 84%);
	color: hsl(183, 100%, 15%);
}
.spliter input[type="button"].activetip {
	background-color: hsl(172, 67%, 45%);
}
.numberppl {
	background-image: url(images/icon-person.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	border-radius: 5px;
	width: 290px;
	height: 50px;
	text-align: right;
	padding-right: 20px;
	font-size: 20px;
	margin-right: 30px;
	background-color: hsl(189, 41%, 97%);
	color: hsl(183, 100%, 15%);
	outline: none;
	border: none;
}
.numberppl:focus,
.numberppl:hover {
	border: 1px solid hsl(172, 67%, 45%);
}
.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(183, 100%, 15%);
	color: hsl(0, 0%, 100%);
	height: 40vh;
	width: 36vh;
	border-radius: 20px;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 30vh;
	width: 31vh;
}
.content p:nth-child(2) {
	margin-bottom: 20px;
	font-size: 15px;
}
.content p:nth-child(4) {
	margin-bottom: 20px;
	font-size: 15px;
}

.content p {
	font-size: 20px;
}
.tip {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 25px;
	color: hsl(172, 67%, 45%);
}
.total {
	margin-top: 30px;
	margin-left: 80px;
	font-size: 25px;
	color: hsl(172, 67%, 45%);
}
.errormsg {
	text-align: right;
	margin-right: 40px;
	display: none;
	color: rgb(252, 0, 0);
}
.errorInput {
	border: 2px solid rgb(252, 0, 0);
}
.resetbtn {
	width: 30vh;
	height: 50px;
	background-color: #0d686d;
	color: hsl(183, 100%, 15%);
	font-size: 20px;
	border-radius: 10px;
	border: none;
	pointer-events: none;
}
.activebtn {
	background-color: hsl(172, 67%, 45%);
	cursor: pointer;
	pointer-events: all;
}
sub {
	color: hsl(185, 41%, 84%);
}
.spliter input.active {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}
.btn {
	width: 40vh;
}
@media screen and (max-width: 600px) {
	nav img {
		margin-top: 55px;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		background-color: hsl(0, 0%, 100%);
		flex-direction: column;
	}
	.spliter {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.spliter input[type="button"] {
		cursor: pointer;
		width: 130px;
		height: 45px;
		margin-bottom: 17px;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
		border-radius: 10px;
		font-size: 20px;
		outline: none;
		border: none;
	}
	.bill {
		margin-bottom: 11px;
	}
	.customtip {
		width: 130px;
		height: 45px;
		border: none;
		outline: none;
		background-color: hsl(189, 41%, 97%);
		text-align: center;
		border-radius: 10px;
	}
	.btn {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 18px;
	}
	.numberppl {
		margin-right: 0px;
	}
	.display {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
		height: 45vh;
		width: 80%;
		margin-top: 30px;
		border-radius: 20px;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 45vh;
		width: 90%;
	}
	.resetbtn {
		width: 30vh;
		height: 85px;
		background-color: #0d686d;
		color: hsl(183, 100%, 15%);
		font-size: 20px;
		border-radius: 10px;
		border: none;
		pointer-events: none;
		margin-bottom: 12px;
	}
	.activebtn {
		background-color: hsl(172, 67%, 45%);
		cursor: pointer;
		pointer-events: all;
	}
	.tip {
		margin-left: 0;
		font-size: 20px;
	}
	.total {
		margin-top: 30px;
		margin-left: 44px;
		font-size: 20px;
		color: hsl(172, 67%, 45%);
	}
}
